.verification-page {
    height: 85vh!important;
}

.confirm-btn {
    position: absolute;
    left: 40%;
    top: 80%;
    height: 50px;
    font-size: 24px;
    font-weight: bold;
}

.input-verify {
    border: 2px solid black!important;
}

.confirmation {
    visibility: hidden;
}

.show-confirmation {
    visibility: visible;
    z-index: 100;
}

@media screen and (max-width:468px) {
    .verification-page {
        height: 95vh!important;
        margin-top: 1rem!important;
    }
    .confirm-btn {
        position: absolute;
        left: 28%;
        top: 85%;
    }
}