.confirmation-card {
    width: 50%!important;
    height: 50vh!important;
    position: absolute;
    left: 25%;
    top: 20%;
}

.confirmation-icon {
    font-size: 60px;
    opacity: 0.6;
}

.confirmation-icon:hover {
    color: black;
}

.confirmation-head {
    font-size: 27px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.confirmation-btn {
    position: absolute;
    bottom: 0px;
    width: 100%!important;
    left: 10px;
}

.success {
    visibility: hidden;
}

.show-success {
    visibility: visible;
    z-index: 100;
}

.failure {
    visibility: hidden;
}

.show-failure {
    visibility: visible;
    z-index: 100;
}

@media screen and (max-width:468px) {
    .confirmation-card {
        width: 80%!important;
        height: 80vh!important;
        position: absolute;
        left: 16%;
        top: 10%;
    }
    .confirmation-icon {
        font-size: 50px;
    }
    .confirmation-head {
        width: 70%!important;
        position: absolute;
        top: 30%;
        left: 10%;
    }
}