.send-amount-page {
    height: 60vh;
    background: white;
}

.transfer-btn-send-amount {
    position: absolute;
    left: 40%;
    top: 50%;
    height: 50px;
    font-size: 24px;
    font-weight: bold;
}

.input-form-send-amount {
    height: 70px;
    border: 2px solid black;
}

@media screen and (max-width: 468px) {
    .transfer-btn-send-amount {
        margin-left: -3rem;
        width: 200px!important;
        font-size: 16px;
        position: absolute;
        top: 70%;
    }
    .send-amount-page {
        position: absolute;
        top: 20%;
    }
    .input-form-send-amount {
        position: absolute;
        top: -3rem;
    }
}