.failure-card {
    width: 40%;
    height: 50vh;
    background: black;
    position: absolute;
    top: 25%!important;
    left: 25%!important;
    border-radius: 10px;
}

.failure-icon {
    font-size: 100px;
    color: White;
}

.failure-col {
    display: flex;
    align-items: center;
}

.failure-text {
    color: white;
    position: absolute;
    top: 50%;
    width: 85%;
    text-align: center;
    justify-content: center;
    font-size: 40px;
}

@media screen and (max-width: 468px) {
    .failure-card {
        width: 83%;
        position: absolute;
        left: 16%!important;
    }
    .failure-icon {
        font-size: 80px;
    }
    .failure-text {
        font-size: 30px;
    }
}